# Use legacy peer deps to resolve React version conflict
# React Native 0.73.11 requires React 18.2.0
# react-native-maps requires React >= 18.3.1
# React 18.3.1 is backward compatible with 18.2.0
legacy-peer-deps=true
